<h2>Abilities</h2>
<table style="width:100%">
  <tr>
    <th colspan="2">Fisicos</th>
    <th colspan="2">Sociais</th>
    <th colspan="2">Mentais</th>
  </tr>
  <tr>
    <td>Força</td>
    <td>
      <input type="text" name="data.attributes.physical.strength.value" value="{{data.attributes.physical.strength.value}}" data-dtype="Number"/>
    </td>
    <td>Manupulação</td>
    <td>
      <input type="text" name="data.attributes.social.manipulation.value" value="{{data.attributes.social.manipulation.value}}" data-dtype="Number"/>
    </td>
    <td>Percepção</td>
    <td>
      <input type="text" name="data.attributes.physical.strength.value" value="{{data.attributes.physical.strength.value}}" data-dtype="Number"/>
    </td>
  </tr>
  <tr>
    <td>Força</td>
    <td>01</td>
    <td>Manupulação</td>
    <td>01</td>
    <td>Percepção</td>
    <td>01</td>
  </tr>
    <tr>
    <td>Força</td>
    <td>01</td>
    <td>Manupulação</td>
    <td>01</td>
    <td>Percepção</td>
    <td>01</td>
  </tr>
</table>

